<footer class=" bg-dark text-light text-center">
    <!-- Grid container -->
    <div class="container p-4 d-flex justify-content-center">
        <table id="horraire" class="display text-light border-white">
            <thead>
                <tr>
                    <th>jour</th>
                    <th>matin</th>
                    <th>après-midi</th>
                </tr>
            </thead>
            {% for horraire in horraires %}
            <td>
                <tr>
                    <td scope="col">Lundi</td>
                    <td>{{ horraire.lundiM ? horraire.lundiM|date('H:i:s') : '' }}</td>
                    <td>{{ horraire.lundiS ? horraire.lundiS|date('H:i:s') : '' }}</td>

                </tr>
                <tr>
                    <td scope="col">Mardi</td>
                    <td>{{ horraire.mardiM ? horraire.mardiM|date('H:i:s') : '' }}</td>
                    <td>{{ horraire.mardiS ? horraire.mardiS|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <td scope="col">Mercredi</td>
                    <td>{{ horraire.mercrediM ? horraire.mercrediM|date('H:i:s') : '' }}</td>
                    <td>{{ horraire.mercrediS ? horraire.mercrediS|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <td scope="col">Jeudi</td>
                    <td>{{ horraire.jeudiM ? horraire.jeudiM|date('H:i:s') : '' }}</td>
                    <td>{{ horraire.jeudiS ? horraire.jeudiS|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <td scope="col">Vendredi</td>
                    <td>{{ horraire.vendrediM ? horraire.vendrediM|date('H:i:s') : '' }}</td>
                    <td>{{ horraire.vendrediS ? horraire.vendrediS|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <td scope="col">Samedi</td>
                    <td>{{ horraire.samediM ? horraire.samediM|date('H:i:s') : '' }}</td>
                    <td>{{ horraire.samediS ? horraire.samediS|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <td scope="col">Dimanche</td>
                    <td scope="col">fermer</td>
                    <td scope="col">fermer</td>
                </tr>
            </td>
        
    {% else %}
        <tr>
            <td colspan="14">no records found</td>
        </tr>
    {% endfor %}
</table>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>