
{% extends "layout/base.html.twig" %}
{% block title %}
Annonce index
{% endblock title %}
{% block body %}
<div class="m-5">
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Kilometrage</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>Annee</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.kilometrage }}</td>
                <td>{{ annonce.marque }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.annee }}</td>
                <td>{{ annonce.description }}</td>
                <td><img style="max-width: 30%;" src="{{ vich_uploader_asset(annonce, 'imageFile') }}" alt=""> </td>
                <td>
                    <a class="btn btn-primary mt-2" href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a class="btn btn-success mt-2" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_annonce_new') }}">Create new</a>
</div>
{% endblock %}
